
::deep .selected {
    background-color: var(--mud-palette-table-striped);
}

::deep .port {
    height: 14px;
    position: relative;
    display: inline-block;
}

    ::deep .port:hover {
        background: #eee;
        cursor: pointer;
    }

    ::deep .port.right {
        border-right: 1px solid rgba(0,0,0,0.125);
    }

    ::deep .port.left {
        border-left: 1px solid rgba(0,0,0,0.125);
    }
